body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/boliviainteligente-_75VdeLT3BI-unsplash.jpg'); /* Substitua pelo URL da imagem do planeta */
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}
header {
    background-color: rgba(0, 0, 0, 0.0); /* Fundo semi-transparente */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #24005e;
}

section {
    background-color: rgba(0, 0, 0, 0.0); /* Fundo semi-transparente para seções */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Botão semi-transparente */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}
